@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Montserrat:wght@400;500&family=Poppins:wght@300;500;600&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  
}

ul {
  list-style-type: none;
}

p,
li {
  @apply opacity-75;
}

.navbar {
  position: absolute;
  top: -100%;
  right: 0;
  /* left: 0; */
  bottom: 0;
  width: 45%;
  transition: all 0.3s ease;
  padding: 15px;
  z-index: -1;
  /* background-color: #fff; */
}

.navbar.open {
  z-index: 99;
  top: 3rem;
  background-color: #fff;
}

@media (min-width: 1024px) {
  .navbar {
    width: auto;
    padding: 0;
    z-index: auto;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: flex-start;
  }

  .navbar div {
    @apply mr-10;
  }
  .navbar div ul {
    position: absolute;
    /* width: 0px; */
  }

  .navbar.open {
    top: 0;
    background-color: transparent;
    z-index: auto;
  }
}
